## Netflix Dataset: Cleaning and Visualisation
_Author: Tshepo Ralehoko_ \
_Date: 19 July 2023_

#### Objective 

The purpose of this project is to use the __Netflix__ dataset obtained from [Kaggle](https://www.kaggle.com/datasets) website to answer the questions that listed below. Additionally, the aim of the project is to visual any interesting insights. The following insights shall be explored:

#### Tech Stack

__Programming language: Python__ \
__Libraries:__ Pandas, TermColor

#### Importing modules

In [1]:
# importing the requiste modules

import pandas as pd # visualising and manipulating data tables
from termcolor import colored # making 'printed' text bold

### Code

#### Reading dataset

In [2]:
# loading the dataset

df=pd.read_csv(filepath_or_buffer=r'C:\Users\rtral\Datasets\netflix data\netflix_titles.csv')

#### Data Cleaning and Manipulation

In [3]:
# number of rows and columns

print('this dataset has {} rows and {} columns'.format(df.shape[0], df.shape[1]))

this dataset has 7787 rows and 12 columns

In [4]:
# the maximum width in characters of a column 

pd.set_option('display.max_colwidth', None)

In [5]:
# inspecting a few observations
# column are clearly visible in the print out below
# missing values noted for the director column

df.head(n=2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi & Fantasy","In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor."
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies","After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive."

#### Columns guide:

1. __show_id:__ Show identifier
2. __type:__ TV show or movie.
3. __title:__ Title of the TV show or movie.
4. __director:__ Director of the TV show or movie.
5. __cast:__ Overall cast members.
6. __country:__ Country released in.
7. __date_added:__ Date added on __Netflix__.
8. __release_year:__ The release year.
9. __rating:__ Rating on __Netflix__.
10. __duration:__ Duration of TV show or movie.
11. __listed_in:__ A list of genres. 
12. __description:__ A brief description of TV show or movie.

In [6]:
print('the number and percentage of missing values by column \n')

def missing_values(df):
    
    # count of null values for each column
    null_count=df.isnull().sum().sort_values(ascending=False)
    
    # percent count of null values 
    null_rate=100*(null_count/len(df)).round(decimals=4)
    
    # tabling the results
    miss_tbl=pd.concat([null_count, null_rate], axis=1)
    
    # renaming the columns the above table    
    col_renaming=miss_tbl.rename(
    columns = {0: 'null_count', 1: 'null_rate'})
    
    # returning the final table
    
    return col_renaming
      
# printing out the results

print(missing_values(df))

the number and percentage of missing values by column

              null_count  null_rate
director            2389      30.68
cast                 718       9.22
country              507       6.51
date_added            10       0.13
rating                 7       0.09
show_id                0       0.00
type                   0       0.00
title                  0       0.00
release_year           0       0.00
duration               0       0.00
listed_in              0       0.00
description            0       0.00

In [7]:
# taking a look at the datatypes of the columns

print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [8]:
# duplicates

print('the number of duplicated rows:', df.duplicated().sum())

the number of duplicated rows: 0

In [9]:
# initialize a stat dictionary
stats={}
# looping through the columns of df
for col in df.columns:
    
    # our columns of interest
    if col in ['title', 'director', 'cast', 'country', 'date_added', 'rating', 'duration', 'listed_in', 'description']:
        
        # removing white spaces between strings/characters
        col_no_spaces=df[col].str.replace(' ','')
        
        # the length of each string in a row of each column
        lengths=df[col].str.len()
        
        # stats measures of interest: max, min & mean
        stats[col]=[int(lengths.min()), int(lengths.max()), int(lengths.mean())]
        
# putting the information together
vals=pd.DataFrame(stats, index=['Min', 'Max', 'Mean'])

print('the min, max and mean length of strings for each variable of interest')
vals

the min, max and mean length of strings for each variable of interest

,title,director,cast,country,date_added,rating,duration,listed_in,description
Min,1,2,3,4,11,1,5,6,61
Max,104,208,771,123,19,8,10,79,248
Mean,17,15,117,12,14,4,7,33,143

In [10]:
# short movie and TV show titles

# creating a new dataframe in which to store results
title_char_cnt=pd.DataFrame()


# removing spaces between strings
title_wo_sps=df['title'].str.replace(' ','') 

# computing the length of each title
str_len=title_wo_sps.apply(lambda x: len(x))

# titles with less than 4 characters
result=str_len[str_len < 4]


# putting the data together
title_char_cnt['title']=df.loc[result.index,'title']
title_char_cnt['type']=df.loc[result.index,'type']
title_char_cnt['str_len']=result

# short / incorrect / incomplete movie and TV show titles
title_char_cnt=title_char_cnt.sort_values('str_len', ascending=True)

print('the title, type and string length movies and TV shows with possibly erroneously captured titles')

title_char_cnt

the title, type and string length movies and TV shows with possibly erroneously captured titles

     title     type  str_len
2563     H  TV Show        1
3        9    Movie        1
3261     K  TV Show        1
4717     P    Movie        1
7756    Z4  TV Show        2
3046    IO    Movie        2
4872    PK    Movie        2
114     4L    Movie        2
0       3%  TV Show        2
7687    XX    Movie        2
4       21    Movie        2
5       46  TV Show        2
2801   Hop    Movie        3
2885  I Am    Movie        3
3116   Jal    Movie        3
3225   Joy    Movie        3
7721   You  TV Show        3
4169   Mom    Movie        3
4269   Mud    Movie        3
7717   YOM  TV Show        3
7688   XXx    Movie        3
5300   Run    Movie        3
5483   Sei    Movie        3
2700   Her    Movie        3
5992   TAU    Movie        3
7080   Tig    Movie        3
7312   Una    Movie        3
7447   VS.    Movie        3
7452   W1A  TV Show        3
7475   War    Movie        3
5551   She  TV Show        3
1976   Eli    Movie        3
1892   Dum    Movie        3
6      122    Movie        3
7      187    Movie        3
8      706    Movie        3
19     '89    Movie        3
75     1BR    Movie        3
123    5CM    Movie        3
304    Adú    Movie        3
478    AMO  TV Show        3
481    Amy    Movie        3
582    ARQ    Movie        3
2408   Gie    Movie        3
614    ATM    Movie        3
642    Awe    Movie        3
1006   BNA  TV Show        3
1024   Boi    Movie        3
1183   Cam    Movie        3
1527   CRD    Movie        3
1575   Dad    Movie        3
1737   Dhh    Movie        3
1756   Dil    Movie        3
1788   DNA    Movie        3
1807   Don    Movie        3
631    Ava    Movie        3
7780   Zoo    Movie        3

#### Addressing Missing Values

\
In this section we shall address missing values.

In [11]:
# high-level: trying to comb the dataset for patterns in missingness between director and cast columns

df[(df['director'].isna()) & (df['cast'].isna())].head(n=20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,"This docuseries takes a deep dive into the lucrative wellness industry, which touts health and healing. But do the products live up to the promises?"
52,s53,Movie,100 Days Of Solitude,NaN,NaN,Spain,"July 6, 2018",2018,TV-MA,93 min,"Documentaries, International Movies","Spanish photographer José Díaz spends 100 days living alone on a remote mountain, connecting to nature and documenting the beauty of his surroundings."
130,s131,TV Show,60 Days In,NaN,NaN,United States,"November 1, 2020",2019,TV-MA,1 Season,Reality TV,"Recruited by a sheriff, volunteers infiltrate county prisons to expose corruption and crime from within the system in this docuseries."
134,s135,TV Show,7 Days Out,NaN,NaN,United States,"December 21, 2018",2018,TV-PG,1 Season,Docuseries,"Witness the excitement and drama behind the scenes in the seven days leading up to major live events in the worlds of sports, fashion, space and food."
137,s138,TV Show,72 Cutest Animals,NaN,NaN,Australia,"June 1, 2016",2016,TV-PG,1 Season,"Docuseries, International TV Shows, Science & Nature TV",This series examines the nature of cuteness and how adorability helps some animal species to survive and thrive in a variety of environments.
208,s209,Movie,A new Capitalism,NaN,NaN,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies","Entrepreneurs worldwide explore alternatives to current capitalist structures, advocating for profitable businesses that also tackle social inequality."
213,s214,TV Show,A Perfect Crime,NaN,NaN,Germany,"September 25, 2020",2020,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV Shows","This docuseries investigates the 1991 killing of politician Detlev Rohwedder, an unsolved mystery at the heart of Germany's tumultuous reunification."
311,s312,Movie,Adhugo,NaN,NaN,India,"January 15, 2019",2018,TV-14,105 min,"Comedies, International Movies, Thrillers",A fast-footed piglet named Bunty becomes an object of desire for rival criminals that want the swift swine for their profitable animal-racing schemes.
319,s320,TV Show,Afflicted,NaN,NaN,United States,"August 10, 2018",2018,TV-MA,1 Season,"Docuseries, Reality TV, Science & Nature TV",Baffling symptoms. Controversial diagnoses. Costly treatments. Seven people with chronic illnesses search for answers – and relief.
338,s339,TV Show,Age of Tanks,NaN,NaN,"Germany, France, Russia","November 10, 2018",2017,TV-PG,1 Season,"Docuseries, International TV Shows, Science & Nature TV",The history of military tanks unfolds in a documentary series that traces their role in history and geopolitics from World War I to the 21st century.
359,s360,TV Show,Ajaibnya Cinta,NaN,NaN,NaN,"October 13, 2017",2015,TV-PG,1 Season,"International TV Shows, TV Dramas","Upon returning home from his studies abroad, young grad Akif finds himself involved with four women in this continuation of the series ""Spain Uoolss."""
371,s372,Movie,Alarmoty in the Land of Fire,NaN,NaN,Egypt,"August 5, 2019",2017,TV-MA,94 min,"Comedies, International Movies","While vacationing at a resort, an ornery and outspoken man is held captive by a criminal organization."
390,s391,Movie,"Alias JJ, la celebridad del mal",NaN,NaN,NaN,"September 1, 2017",2017,TV-MA,54 min,"Documentaries, International Movies","Witnesses and public figures respond to controversial claims about Pablo Escobar made by the Medellín Cartel's sole survivor, John Jairo Velásquez."
398,s399,TV Show,Alien Worlds,NaN,NaN,United Kingdom,"December 2, 2020",2020,TV-PG,1 Season,"British TV Shows, Docuseries, International TV Shows","Applying the laws of life on Earth to the rest of the galaxy, this series blends science fact and fiction to imagine alien life on other planets."
428,s429,TV Show,Alone,NaN,NaN,NaN,"June 2, 2020",2019,TV-14,1 Season,Reality TV,"Equipped with limited resources, an isolated group of individuals is subjected to the harsh conditions of the wilderness and must survive — or tap out."
449,s450,TV Show,Amazing Interiors,NaN,NaN,United Kingdom,"July 20, 2018",2018,TV-PG,1 Season,"British TV Shows, International TV Shows, Reality TV","Meet eccentric homeowners whose seemingly ordinary spaces are full of surprises, from a backyard roller coaster to an indoor aquarium."
533,s534,TV Show,Anjaan: Rural Myths,NaN,NaN,India,"December 15, 2018",2018,TV-14,1 Season,"International TV Shows, TV Horror, TV Thrillers","Spine-chilling stories of malevolent spirits unfold in villages, jungles and haunted buildings across India."
554,s555,Movie,Antoine Griezmann: The Making of a Legend,NaN,NaN,NaN,"March 21, 2019",2019,TV-PG,60 min,"Documentaries, International Movies, Sports Movies","With heart and determination, Antoine Griezmann overcame his small stature to become one of the world’s top soccer players and a World Cup champion."
556,s557,TV Show,忍者ハットリくん,NaN,NaN,Japan,"December 23, 2018",2012,TV-Y7,2 Seasons,"Anime Series, Kids' TV","Hailing from the mountains of Iga, Kanzo Hattori moves in with elementary school student Kenichi Mitsuba and his family to hone his skills as a ninja."
624,s625,TV Show,Aussie Gold Hunters,NaN,NaN,Australia,"August 1, 2017",2016,TV-MA,1 Season,"Docuseries, International TV Shows, Reality TV",Three teams of gold hunters battle all manner of challenges while pursuing their dreams in the Australian Outback.

In [23]:
print('the count of the number of TV shows and movies for observations where the director column had no missing values \n')
print(df[df['director'].notnull()]['type'].value_counts())

print('\n \n')

print('the count of the number of TV shows and movies for observations where the director column had missing values \n')
print(df[df['director'].isna()]['type'].value_counts())

print('\n \n')

print(colored('Comment:' ,attrs=['bold']),'No detected pattern')

the count of the number of TV shows and movies for observations where the director column had no missing values

type
Movie      5214
TV Show     184
Name: count, dtype: int64



the count of the number of TV shows and movies for observations where the director column had missing values

type
TV Show    2226
Movie       163
Name: count, dtype: int64



Comment: No apparent pattern

In [13]:
df[['show_id', 'type', 'title']]=df[['show_id', 'type', 'title']].astype('str')